p {
    margin-bottom: 0.5rem;;
}

.productDetails {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .productBrand {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px;
  }

  .productTitle {
    font-size: 1.2rem;
    margin-top: 5px;
  }
  
  .productImages {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
  }
  
  .mainImage,
  .secondaryImage {
    width: 150px;
  }
  
  