<h2 class="cartTitle">Carrinho de Compras</h2>

<p *ngIf="cartProducts && cartProducts.length === 0" class="emptyMessage">Não há produtos no carrinho.</p>

<ng-container *ngIf="cartProducts && cartProducts.length > 0">
  <p>Total de produtos no carrinho: {{ cartProducts.length }}</p>

  <!-- Tabela com os produtos no carrinho -->
  <table class="tabelaDados">
    <thead>
      <tr>
        <th>Foto</th>
        <th>Marca</th>
        <th>Produto</th>
        <th>Preço</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of cartProducts" (click)="navigateToProduct(product.id)">
        <td><img [src]="'imagens/' + product.foto_principal" alt="imagem do produto" class="thumbnail"></td>
        <td>{{ product.marca }}</td>
        <td>{{ product.nome }}</td>
        <td>{{ product.preco | currency: 'EUR' }}</td>
        <td>
          <button (click)="removeFromCart(product.id, $event)">X</button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5">Total da encomenda: {{ getTotalPrice() + '€' }}</td>
      </tr>
    </tfoot>
  </table>
</ng-container>


