.productListContainer {
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: center;
}

.filter {
    width: 15%;
    padding: 20px;
}

input {
    margin-left: 10px;
}

.filter p {
    color: white;
    margin: 0 0 10px 0;
    padding: 5px;
    text-align: center;
    background-color: #d35400;
  }
  
.filter label {
    margin-left: 5px;
}

.filterSection {
    border: 2px solid black;
}

.filterSection.cor {
    border-top: none;
}

.productContainer h1 {
    text-align: center; 
}

.productContainer {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 70%;
}

.productList {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    column-gap: 20px;
    row-gap: 20px;
}

.productItem {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.productImages {
    width: 100%;
}

.secundaryImage {
    display: none; 
}

.productImageContainer:hover .mainImage {
    display: none; 
    cursor: pointer;
}

.productImageContainer:hover .secundaryImage {
    display: block; 
    cursor: pointer;
}

.productInfo {
    margin-top: 10px;
    text-align: center;
}

.productInfo h2 {
    font-size: 1.2rem;
    margin: 10px 0 5px;
}

.productInfo p {
    margin: 5px 0;
    font-size: 1rem;
}

button {
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #000;
    color: white;
    cursor: pointer;
    border: none;
    width: 100%;
}

button:hover {
    background-color: #333;
}


@media (max-width: 1024px) {
    .productList {
        grid-template-columns: repeat(2, 1fr); 
    }
}


@media (max-width: 768px) {
    .productList {
        grid-template-columns: repeat(1, 1fr); 
    }

    .mainImage, .secundaryImage {
        max-width: 300px; 
    }
    .productItem {
        justify-content: center;
        align-items: center;
    }
}

.productImageContainer {
    position: relative;
    display: inline-block;
}

.wishlistIcon {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
    color: black; 
}

.wishlistIcon.inWishlist {
    color: red; 
}

.wishlistIcon:hover {
    color: rgb(255, 85, 85);
}

.wishlistIcon:hover::before {
    content: '\f005'; /* Código unicode para uma estrela preenchida */
    font-family: 'Font Awesome 5 Free';
    font-weight: 900; /* Força a usar a versão preenchida */
}
  
.inCartMessage{
    font-weight: bold;
    margin-top: 30px;
    
}

.cartbtn {
    border-radius: 6px;
    padding: 10px;
    width: fit-content;
    font-size: 0.7rem;
}
