<section class="productListContainer">
    <section class="filter">
        <section class="filterSection tipo">
          <p>Tipo</p>
          <section *ngFor="let tipo of ['Calças', 'Camisa', 'Casaco', 'T-Shirt', 'Sweatshirt', 'Todos']">
            <input
              type="radio"
              name="tipo"
              [value]="tipo"
              [(ngModel)]="filtro.tipo"
              (change)="aplicarFiltros()">
            <label>{{ tipo }}</label>
          </section>
        </section>
      
        <section class="filterSection cor">
          <p>Cor</p>
          <section *ngFor="let cor of ['Azul', 'Cinza', 'Laranja', 'Preto', 'Todos']">
            <input
              type="radio"
              name="cor"
              [value]="cor"
              [(ngModel)]="filtro.cor"
              (change)="aplicarFiltros()">
            <label>{{ cor }}</label>
          </section>
        </section>
      </section>
    <section class="productContainer">
        <h1>Homem</h1>
        <p>Total de resultados: {{ totalProdutos }}</p> 
        <section class="productList"> 
            <section *ngFor="let produto of produtosVisiveis" class="productItem">
              
                <section class="productImageContainer">
                  <i 
                    *ngIf="isAuthenticated" [ngClass]="isInWishlist(produto.id) ? 'fas fa-star wishlistIcon inWishlist' : 'far fa-star wishlistIcon'" 
                    (click)="toggleWishlist(produto)">
                  </i>
                  <img class="mainImage" [src]="'imagens/' + produto.foto_principal" (click)="ShowInfo(produto.id)"/>
                  <img class="secundaryImage" [src]="'imagens/' + produto.foto_secundaria" (click)="ShowInfo(produto.id)"/>
                </section>
                
                <section class="productInfo">
                    <h2>{{ produto.marca }}</h2>
                    <p>{{ produto.nome }}</p>
                    <p>{{ produto.preco }}€</p>
                    <ng-container *ngIf="isAuthenticated">
                      <!-- Mostrar mensagem se o produto já estiver no carrinho -->
                      <section *ngIf="isInCart(produto.id)" class="inCartMessage">
                        <p>Adicionado ao carrinho</p>
                      </section>
                  
                      <!-- Botão de adicionar ao carrinho -->
                      <button *ngIf="!isInCart(produto.id)" (click)="addToCart(produto)" class="cartbtn">
                        Adicionar ao Carrinho
                      </button>
                    </ng-container>
                </section>
            </section>
        </section>
        <button *ngIf="produtosVisiveis.length < totalProdutos" (click)="carregarMais()">Ver Mais</button>
    </section>
</section>
