<header id="header">
    <section class="space"></section>
    <nav id="headerMenu">
        <ul>
          <li class="menuItem">
            <span>Homem</span>
            <ul class="submenu">
              <li><a>Casacos</a></li>
              <li><a>Camisas</a></li>
              <li><a>Calças</a></li>
              <li><a>Sweatshirts</a></li>
              <li><a>Polos</a></li>
              <li><a>Sapatos</a></li>
              <li><a routerLink="homem/todos">Todos</a></li>
            </ul>
          </li>
          <span>|</span>
          <li class="menuItem">
            <span>Mulher</span>
            <ul class="submenu">
              <li><a>Vestidos</a></li>
              <li><a>Blusões</a></li>
              <li><a>Coletes</a></li>
              <li><a>Jeans</a></li>
              <li><a>Saias</a></li>
              <li><a>Calções</a></li>
              <li><a>Lingerie</a></li>
              <li><a>Sapatos</a></li>
              <li><a>Malas</a></li>
              <li><a>Todos</a></li>
            </ul>
          </li>
        </ul>
        <section class="headerLogo">
          <a routerLink="/">
            <img src="imagens/logo.png" alt="Logotipo da Loja" />
          </a>
        </section>
        <ul>
          <li class="menuItem">
            <span>Criança</span>
            <ul id="crianca" class="submenu">
              <li><a>Menina | 6-14 Anos</a></li>
              <li><a>Menino | 6-14 Anos</a></li>
              <li><a>Bebé Menina | 3 Meses - 5 Anos</a></li>
              <li><a>Bebé Menino | 3 Meses - 5 Anos</a></li>
              <li><a>Mini | 0-12 Meses</a></li>
            </ul>
          </li>
          <span>|</span>
          <li class="menuItem">
            <span>Acessórios</span>
            <ul class="submenu">
              <li><a routerLink="acessorios/malas">Malas</a></li>
              <li><a routerLink="acessorios/pulseiras">Pulseiras</a></li>
              <li><a routerLink="acessorios/aneis">Anéis</a></li>
            </ul>
          </li>
        </ul>
      </nav>
  
    <!-- Ícones -->
    <section class="headerIcons">
      <span *ngIf="isAuthenticated" class="welcomeMessage">
        Bem-vindo(a), {{ currentUser?.nome }}
      </span>
      <i class="fa-solid fa-cart-shopping" *ngIf="isAuthenticated" (click)="goToShoppingcart()"></i>
      <i class="fa-regular fa-clipboard" *ngIf="isAuthenticated" (click)="goToWishlist()"></i>
      <i class="fa-regular fa-user" *ngIf="isAuthenticated" (click)="goToProfile()"></i>
      <i class="fa-solid fa-arrow-right-from-bracket" *ngIf="isAuthenticated" (click)="openLogoutModal()"></i>
      <i class="fa-solid fa-user-plus" *ngIf="!isAuthenticated" (click)="openRegister()"></i>
      <i class="fa-solid fa-arrow-right-to-bracket" *ngIf="!isAuthenticated" (click)="openLoginModal()"></i>
    </section>
    <app-loginmodal *ngIf="isLoginModalOpen" (close)="closeLoginModal()"></app-loginmodal>
    <app-logoutmodal *ngIf="isLogoutModalOpen" (closeModalEvent)="closeLogoutModal()"></app-logoutmodal>
  </header>
  